body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 15px;
}

div {
	box-sizing: border-box;
}

.notifications div {
	position: absolute;
	border: 3px solid #AAA;
	padding: 1em;
	bottom: 3em;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 90%;
	z-index: 99999;
	background: white;
	text-align: center;
}

.menu {
	background: white;
	position: absolute;
	width: 100%;
	z-index: 9999;
}

.menu.show-mobile {
	height: 100%;
}

.menu .header {
	border-bottom: 1px solid #CCC;
	height: 4rem;
}

.menu .title {
	float: left;
	line-height: 2rem;
	margin: 1rem;
	font-size: 1.5rem;
}

.menu .toggle-menu {
	float: right;
	line-height: 2rem;
	margin: 1.3rem;
	padding: 4px 0;
	background-color: black;
}

.menu .toggle-menu:before {
	content: "";
	display: block;
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	width: 2em;
	height: 4px;
} 

.menu .content {
	display: none;
	padding: 15px;
	clear: both;
	width: 100%;
	box-sizing: border-box;
	overflow-y: auto;
}

.menu .content .intro {
	border: 1px solid #CCC;
    padding: 1em;
    background: #EFEFEF;
    font-size: .9em;
    line-height: 1.4em;
    color: #444;
	margin-top: 1em;
}

.menu.show-mobile .content {
	display: block;
}

.menu form li {
	list-style: none;
}

.menu .features ul {
	padding-left: 1em;
	padding-right: 1em;
	max-width: 20rem;
}

.menu .features li {
	padding: .25em;
	/* reserve space for border when selected */
	border-bottom: 1px solid white;
}

.menu .features li.active {
	background-color: #d8f5d3;
	border-bottom: 1px solid #CCC;
}

.menu .features .feature_check {
	vertical-align: middle;
}

.menu .features .feature_check ~ .radius {
	display: none;
}

.menu .features .feature_check:checked ~ .radius {
	display: inline;
}

.menu .features .radius {
	float: right;
}

#map, .menu .content {
	position: absolute;
	top: 4rem;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

/* style for desktop layout */
@media screen and (min-width: 50em) {
	.notifications div {
		width: 50%;
	}

	.menu {
		width: 300px;
		left: 0;
		height: 100%;
		border-right: 1px solid #CCC;
	}

	.menu .header {
		border-bottom: 0px;
	}

	.menu .header .title {
		width: 100%;
		text-align: center;
		margin: 1rem 0;
	}

	.menu .content {
		display: block;
	}

	.menu .toggle-menu {
		display: none;
	}

	.menu .features ul {
		max-width: none;
	}

	#map {
		top: 0px;
		left: 300px;
		height: 100%;
	}
}
